@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 20px;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
}

nav {
  background-color: rgb(48, 26, 45);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

nav .container {
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

nav a:hover {
  color: greenyellow;
}

nav li {
  list-style: none;
  margin: 15px;
}

.home {
  display: flex;
  min-width: 1400px;
}

.home .leftPanel {
  width: 50%;
  /* height: 100vh; 
  background-size: cover;
  background-image: url("../images/biolab.jpg");
  */
}

.panelContainer {
  width: 600px;
  /* height: 100svh; */
}

.home .leftPanel .panelContainer {
  float: right;
  padding: 50px 70px 0px 0px;
  margin-top: 50px;
}

.home .logo {
  width: 300px;
}

.home .leftPanel .panelContainer .textArea {
  margin-top: 180px;
}

.home .rightPanel {
  width: 50%;
  /* height: 100vh; */
  background-position: center;
  background-size: contain;
  background-image: url("../images/molecules-1.png");
}

.home .rightPanel img {
  width: 500px;
  height: 100px;
  margin-top: 30px;
  border-radius: 5px;
}

.home .rightPanel .panelContainer {
  float: left;
  padding: 75px 50px 50px 75px;
  color: white;
  margin-top: 70px;
}

.home .rightPanel .overlayColor {
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(
    200deg,
    rgb(227, 53, 146, 0.9),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  height: 100vh;
}

.captionBar {
  background-image: linear-gradient(
    45deg,
    rgb(57, 59, 94) 40%,
    rgb(215, 31, 126)
  );
  border-radius: 0 80px 80px 0;
  width: 65%;
  position: absolute;
  top: 200px;
  text-align: right;
  color: white;
  padding: 20px 50px 30px 50px;
  min-width: 700px;
}

.captionBar h1 {
  font-size: 35px;
}

.captionBar h2 {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(216, 216, 216);
}

.about {
  display: flex;
  min-width: 1400px;
  height: 100vh;
}

.about .leftPanel {
  width: 50%;
  background-size: cover;
  background-color: pink;
  background-image: url("../images/biolab.jpg");
}

.about .rightPanel {
  width: 50%;
  background-color: blue;
}

.about .leftPanel .panelContainer {
  float: right;
  padding: 50px 70px 0px 0px;
  margin-top: 50px;
}

.about .rightPanel .panelContainer {
  float: left;
  padding: 75px 50px 50px 75px;
  color: white;
}
