@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primaryBGcolor-1: rgb(255, 255, 255);
  --primaryBGcolor-2: rgb(105, 110, 149);
  --primaryBGcolor-3: rgb(39, 47, 123);
  --primaryBGcolor-4: rgb(12, 18, 59);
  --primaryBGcolor-pop-1: rgb(169, 32, 84);
  --primaryBGcolor-pop-2: rgb(244, 7, 141);

  --fontColor-1: black;
  --fontColor-2: rgb(83, 83, 83);
  --fontColor-3: rgb(187, 187, 187);
  --fontColor-4: rgb(255, 255, 255);
  --fontColor-pop-1: rgb(244, 7, 185);
  --fontColor-pop-2: rgb(244, 7, 31);

  --captionbarBG: linear-gradient(
    200deg,
    rgba(248, 12, 12, 0.63) 5%,
    rgba(30, 30, 205, 0.1) 35%,
    rgba(0, 0, 0, 0.1) 80%
  );
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 10px;
}
h6 {
  font-size: 8px;
}

.container {
  width: 1200px;
}

/******* NAV SECTION *******/
nav {
  background-color: var(--primaryBGcolor-4);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: var(--fontColor-4);
  font-size: 14px;
}
nav a:hover {
  color: var(--fontColor-pop-1);
}
nav li {
  list-style: none;
  margin: 15px;
}
/******* END NAV SECTION *******/

/******* HOME SECTION *******/
.home {
  display: flex;
  margin-top: 50px;
}

.hero-bg {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: url(https://st3.depositphotos.com/4314643/13004/i/450/depositphotos_130040676-stock-photo-3d-illustration-of-molecule-model.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* bg image stays fixed as you scroll  */
}
.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    210,
    45,
    106,
    0.3
  ); /* Adjust the color and opacity as needed */
  z-index: 0; /* Ensure the overlay is behind the content */
}

.home .leftPanel {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryBGcolor-1);
  width: 50%;
}
.home .rightPanel {
  display: flex;
  flex-direction: column;

  background-color: var(--primaryBGcolor-1);
  width: 50%;
}

.home .leftPanel .panelContainer {
  margin-left: auto;
  color: var(--fontColor-1);
  padding: 0px 70px 50px 0px;
  max-width: 600px;
}
.home .rightPanel .panelContainer {
  margin-right: auto;
  color: var(--fontColor-2);
  padding: 0px 0px 50px 50px;
  max-width: 600px;
}

.home .rightPanel img {
  width: 500px;
  height: 150px;
  border-radius: 5px;
  z-index: 5;
}
.home h3 {
  font-weight: lighter;
}
.home .logo {
  width: 350px;
  padding: 0 0 10px 0;
}

.home .read-more {
  background-color: var(--primaryBGcolor-2);
  color: var(--fontColor-4);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px rgba(88, 88, 88, 0.2);
  padding: 110px 0px 0px 0px;
}

/***** Caption Bar *****/
.captionBar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 150px;
  left: 0px;
  background-image: var(--captionbarBG);
  color: var(--fontColor-4);
  border-radius: 0 80px 80px 0;
  width: 65%;
  padding: 20px 80px 30px 50px;
  min-width: 700px;
}
.captionText {
  margin-left: auto;
}
.captionBar .logo {
  width: 100px;
  margin-left: auto;
}
.captionBar h1 {
  font-weight: lighter;
}

.captionBar h2 {
  color: var(--fontColor-4);
}
.captionBar h3 {
  font-weight: lighter;
  color: var(--fontColor-4);
}
.captionBar h4 {
  font-weight: lighter;
  color: var(--fontColor-4);
}

/******* END HOME SECTION *******/

/***** Modal *****/
.modal {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}
.modal-inner {
  max-width: 100%;
  min-width: 700px;
  max-height: 90vh;
  margin: 2em;
  padding: 2% 5% 2% 5%;
  overflow: auto;
  text-align: left;
  background: #fff;
  color: black;
  border-radius: 5px;
  transition: top 0.25s ease;
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-30%, -30%);
}
.modal-state {
  display: none;
}
.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}
.modal-bg {
  /*  click bg to close modal */
  position: fixed;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-close {
  position: relative;
  cursor: pointer;
  color: lightgray;
}
.modal-close:hover {
  color: red;
}
.modal-footer {
  text-align: right;
  margin-top: 3em;
}
.modal-header {
  text-align: right;
  margin-bottom: 2em;
}
.modal-header::after {
  content: "";
  display: block;
  border-top: 1px solid rgb(138, 151, 236); /* Change the color, width, and style as needed */
  margin: 10px 0; /* Adjust the margin to position the line as desired */
}
.modal-footer::before {
  content: "";
  display: block;
  border-top: 1px solid rgb(138, 151, 236); /* Change the color, width, and style as needed */
  margin: 10px 0; /* Adjust the margin to position the line as desired */
}

/******** Modal Problem Popup ********/
.topicExcerpt {
  position: relative;
}
.topicExcerpt .read-more {
  padding: 5px 15px 5px 15px;
  margin-top: 1em;
  width: fit-content;
  cursor: pointer;
  display: block;
  margin-top: 1em;
  bottom: 0px;
  top: 100px;
}
.topicExcerpt .read-more:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/********** Team **********/
.team {
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://st3.depositphotos.com/4314643/13004/i/450/depositphotos_130040676-stock-photo-3d-illustration-of-molecule-model.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* bg image stays fixed as you scroll  */
  z-index: 1;
}
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    37,
    114,
    142,
    0.7
  ); /* Adjust the color and opacity as needed */
  z-index: 0; /* Ensure the overlay is behind the content */
}
.team .container {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  column-gap: 30px;
  row-gap: 30px;
  padding: 0px 0px 50px 0px;
  justify-content: center;
}
.team .heading.executives {
  color: var(--fontColor-4);
  margin-top: 250px;
}
.team .heading.advisors {
  color: var(--fontColor-4);
  margin-top: 20px;
}
.team h3 {
  margin: 10px 0;
}
.team h2 {
}
.team h6 {
  margin: 5px 0;
  text-transform: uppercase;
}
.team p {
  line-height: 21px;
}

.team .captionBar {
  top: 100px;
  left: 0px;
  width: 50%;
  border-radius: 0 80px 80px 0;
  padding: 10px 50px 10px 50px;
  min-width: 400px;
}

/***** Team Bio Card *****/
.bioCard {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: var(--fontColor-3);
  padding: 30px 10px 70px 10px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}
.bioCard-bg {
  /*  click bg to close modal */
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bioCard:hover > .bioCard-bg {
  background-color: rgba(0, 0, 0, 0.3);
}
.bioCard .photo {
  border: 1px solid var(--primaryBGcolor-2);
  border-radius: 50%;
  padding: 7px;
  width: 150px;
  height: 150px;
}
.bioCard .read-more {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 15px;
  margin-left: -10px;
  color: var(--fontColor-pop-1);
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
}
.bioCard .read-more:hover {
  color: azure;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/**** Publications ***/

.publications {
  background-color: rgb(39, 39, 47);
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 100px;
}
.publications .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 5rem;
  justify-content: center;
  width: 80%;
}
.publications .captionBar {
  top: 100px;
  left: 0px;
  width: 50%;
  border-radius: 0 80px 80px 0;
  padding: 10px 50px 10px 50px;
  min-width: 400px;
}
.publications .card {
  background-color: rgb(204, 205, 212);
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 2rem 1rem 3rem 3rem;
}

.publications .img_circle img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  left: -5%;
  top: -8%;
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
}

.publications .date {
  margin: 0 0 0.5rem 0;
  color: #717171;
  font-size: 0.8rem;
  text-align: left;
}

.publications .heading {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  color: #333;
}
.publications .excerpt {
  margin: 0 0 3rem 0;
  font-size: 0.8rem;
  line-height: 1.45;
  color: #333;
}

.publications .btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: white;
  font-size: 0.8rem;
  box-shadow: 1px 15px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
  position: absolute;
  bottom: 2rem;
}

.publications .btn_primary:hover {
  box-shadow: 0px 2px 1rem rgb(241, 162, 82);
}

.footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  position: relative;
  justify-content: center;
  padding: 3em 0 3em 0;
}

.footer .container {
  display: flex;
  color: white;
}

.footer .section {
  border: 0px solid gray;
  min-width: 25%;
}

.footer .logo {
  width: 180px;
}

.footer h3 {
  font-weight: 50;
  color: #ffffff;
}
.footer h4 {
  font-weight: 50;
  color: #f0529f;
}
.footer h5 {
  font-weight: 50;
  color: #999;
}
