@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 20px;
}

.container {
  width: 1200px;
}

/******* NAV SECTION *******/
nav {
  background-color: rgb(48, 26, 45);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}
nav .container {
  color: white;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
nav a:hover {
  color: rgb(251, 136, 205);
}
nav li {
  list-style: none;
  margin: 15px;
}
/******* END NAV SECTION *******/

/******* HOME SECTION *******/

.home {
  display: flex;
  margin-top: 0px;
}
.leftPanel {
  width: 50%;
}
.rightPanel {
  width: 50%;
}
.panelContainer {
  width: 600px;
  padding: 70px 70px 70px 50px;
}
.leftPanel .panelContainer {
  float: right;
}
.rightPanel .panelContainer {
  float: left;
  color: white;
}
.home .logo {
  width: 300px;
  margin-top: 20px;
}
.contentArea {
  margin-top: 200px;
}
.home .rightPanel {
  background: linear-gradient(
    200deg,
    rgb(227, 53, 146, 0.9),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
}
.home .rightPanel .contentArea {
  margin-top: 350px;
}
.home .rightPanel img {
  width: 500px;
  height: 100px;
  border-radius: 5px;
}

.captionBar {
  background-image: linear-gradient(
    45deg,
    rgb(57, 59, 94) 40%,
    rgb(215, 31, 126)
  );
  border-radius: 0 80px 80px 0;
  width: 65%;
  position: absolute;
  top: 200px;
  text-align: right;
  color: white;
  padding: 20px 50px 30px 50px;
  min-width: 700px;
}
.captionBar h1 {
  font-size: 35px;
}
.captionBar h2 {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(216, 216, 216);
}
/******* END HOME SECTION *******/

/******* ABOUT SECTION *******/
.about {
  display: flex;
  position: relative;
}
.about .leftPanel {
  background-color: purple;
  color: white;
}
.about .rightPanel {
  background-color: blue;
}
.about .modal-state {
  display: none;
}

/***** Modal *****/
.modal {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}
.modal-inner {
  position: relative;
  max-width: 70%;
  min-width: 700px;
  max-height: 90vh;
  margin: 2em;
  padding: 2% 5% 2% 5%;
  overflow: auto;
  text-align: left;
  background: #fff;
  color: black;
  border-radius: 5px;
  transition: top 0.25s ease;
}
.modal-state:checked ~ .modal .modal-inner {
  top: 0;
}
.modal-bg {
  /*  click bg to close modal */
  position: fixed;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-close {
  position: relative;
  cursor: pointer;
  color: lightgray;
}
.modal-close:hover {
  color: red;
}
.modal-footer {
  text-align: right;
  margin-top: 3em;
}
.modal-header {
  text-align: right;
  margin-bottom: 2em;
}

/******** Modal Problem Popup ********/
.topicExcerpt {
  position: relative;
}
.topicExcerpt .read-more {
  padding: 0.5em 1em;
  margin-top: 1em;
  width: fit-content;
  cursor: pointer;
  display: block;
  margin-top: 1em;
  bottom: 0px;
  top: 100px;
}
.topicExcerpt .read-more:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.topicExcerpt .modal img {
  margin-top: 2em;
  display: block;
}
.theProblem .modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}
.theSolution .modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}

/********** Team **********/
.team {
  background-color: rgb(67, 26, 47);
  display: flex;
  position: relative;
  justify-content: center;
}
.team .container {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  column-gap: 30px;
  row-gap: 30px;
  padding: 0px 0px 50px 0px;
  justify-content: center;
}
.team .heading.executives {
  color: white;
  margin-top: 250px;
}
.team .heading.advisors {
  color: white;
  margin-top: 20px;
}

.team .modal-state {
  display: none;
}

.team .modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}
.team .modal-state:checked ~ .modal .modal-inner {
  top: 0;
}
.team h3 {
  margin: 10px 0;
  font-size: 0.8em;
}
.team h2 {
  font-size: 1.5em;
}
.team h6 {
  margin: 5px 0;
  text-transform: uppercase;
}
.team p {
  font-size: 1em;
  line-height: 21px;
}

.team .captionBar {
  top: 100px;
  left: 0px;
  width: 50%;
  border-radius: 0 80px 80px 0;
  padding: 10px 50px 10px 50px;
  min-width: 400px;
}

/***** Team Bio Card *****/
.bioCard {
  position: relative;
  background-color: #72146c;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding: 30px 10px 70px 10px;
  width: 220px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}
.bioCard-bg {
  /*  click bg to close modal */
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bioCard:hover > .bioCard-bg {
  background-color: rgba(0, 0, 0, 0.3);
}
.bioCard .photo {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  width: 150px;
  height: 150px;
}
.bioCard .read-more {
  background-color: #3d294a;
  width: 100%;
  padding: 15px;
  margin-left: -10px;
  color: rgb(108, 238, 188);
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
}
.bioCard .read-more:hover {
  color: azure;
  background-color: #f295de;
  cursor: pointer;
}

/**** Publications ***/

.publications {
  background-color: rgb(39, 39, 47);
  display: flex;
  justify-content: center;
  width: 100%;
}

.publications .container {
  background-color: yellow;
  height: 500px;
}
