/* Basic reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Styling the parallax container */
.parallax-container {
  height: 100vh; /* Adjust the height as needed */
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  perspective: 1px;
}

/* Background image and parallax effect */
.parallax-content {
  position: relative;
  background-image: url("https://thumbs.dreamstime.com/b/molecular-biology-tools-27002789.jpg"); /* Replace 'your-image.jpg' with your image URL */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Text color for better visibility */
  text-align: center;
  transform: translateZ(-1px) scale(1.5);
}
